*{
    box-sizing: border-box;
    font-family: 'Times New Roman';
  }


  #wrapper{
    max-width: 100%; /*wrapper width = 100% so với khung hình*/
    min-width: 573px;
    color: White;
    border: 1px solid black;
    padding: 0px auto;
    margin: 0px;
    height: 120vh;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(http://bit.ly/2gPLxZ4);

  }

  #header{
      max-width: 100%;
      background-Color: Yellow;
      padding: 0px auto;
      padding-left: 0px;

  }

  #main-content{
    display:flex;
    height: 100vh;
  }

  #sidebar{
    flex-basis: 28%;
    height: 100%;
  }

  #content{
    flex-basis:72%;
    height: 100%;
  }

  .navbar-font-me{
      font-size: 1rem;
      margin-right: 20px;
  }


  .info{
    font-size: 20px;
    min-width: 200px;
    max-width: 350px;

    margin-left: 60px;
    margin-bottom: 20px;
  }

  .logo{
    width: 17px
  }

  #carousel-content{
    height: 650px;
  }

  .firstRow{
    padding-top: 20px;
    text-align: center;
    margin: auto;
    min-width: 300px;
    max-width: 730px;
  }

  .FollowingRow{
    padding: 0;
    text-align: center;
    margin: auto;
    min-width: 300px;
    max-width: 730px;
  }

  .Element{
    font-size: 25px;
    margin-bottom: 16px;
  }

  .DescriptionShort{
    font-size: 18px;
    margin-bottom: 16px;
  }

  .DescriptionLong{
    font-size: 18px;
    margin-bottom: 16px;
    text-align: left;
  }
    /*@media (min-width: 600px)
      .navbar-expand-lg {
          flex-wrap: nowrap;
          justify-content: flex-start;}
      */
